/* ================ TASK 3 ================ */
/* Припустімо, що розмір шрифту для body встановлено на 16 пікселів. */
body {
    font-size: 16px
}

/* Слова «Outer» відображається з розміром 25,6 пікселів, а слово «inner» — 40,96 пікселів. */
/* -  визначте властивсть font-size для div, вказавши значення в одиницях виміру em. */
div {
    /* 25.6 / 16 =  1.6*/
    font-size: 1.6em; 
}

/* -  визначте властивсть font-size для span, вказавши значення в одиницях виміру em. */
span > span {
    /* 40.96 / 25.6 =  1.6*/
    font-size: 1.6em;
}

/* ================ TASK 4 ================ */
/* - Всередині файла css/main.css визначте властивсть font-size для strong так, щоб всі слова мали однаковий відносний розмір, еквівалентний 25,6 пікселів. */
strong {
    /* 25.6 / 16 =  1.6*/
    font-size: 1.6rem;
}

/* ================ TASK 5 ================ */
/* стилізувати елементи списку за дoпомогою стилю квадрат */
ul {
    list-style-type: square;
}
